.pswp__preloader{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #eee;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    &__icn{
      opacity:0.75;
      width: 14px;
      height: 14px;
      -webkit-animation: clockwise 500ms linear infinite;
      animation: clockwise 500ms linear infinite;
    }
    &__cut {
      position: relative;
      width: 7px;
      height: 14px;
      overflow: hidden;
      
        position: absolute;
      top: 0;
      left: 0;
    }
    &__donut {
      box-sizing: border-box;
      width: 14px;
      height: 14px;
      border: 2px solid #000;
      border-radius: 50%;
      border-left-color: transparent;
      border-bottom-color: transparent;
      position: absolute;
      top: 0;
      left: 0;
      position: absolute;
      top: 0;
      left: 0;
      background: none;
      margin:0;
      -webkit-animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;
      animation: donut-rotate 1000ms cubic-bezier(.4,0,.22,1) infinite;
      &--fake {
        box-sizing: border-box;
        width: 14px;
        height: 14px;
        border: 2px solid red;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        background: none;
        margin:0;
     }
    }
  }

  
  
  @-webkit-keyframes clockwise {
    0% { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(360deg) }
  }
  @keyframes clockwise {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
  @-webkit-keyframes donut-rotate {
    0% { -webkit-transform: rotate(0) }
    50% { -webkit-transform: rotate(-140deg) }
    100% { -webkit-transform: rotate(0) }
  }
  @keyframes donut-rotate {
    0% { transform: rotate(0) }
    50% { transform: rotate(-140deg) }
    100% { transform: rotate(0) }
  }
  